services:
  db:
    image: postgres:16
    container_name: postgres_multiuso
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    
    volumes:
      - pg_data:/var/lib/postgresql/data
    
    deploy:
      resources:
        limits:
          cpus: '1.0'    # Máximo 1 núcleo de CPU
          memory: 1G     # Máximo 1GB de RAM
        reservations:
          memory: 256M   # Garantiza al menos 256MB

volumes:
  pg_data: